.container {
  display: flex;
  flex-direction: column;
  gap: var(--16);
}

.container h1 {
  font-size: var(--48);
}

@media (min-width: 768px) {
  .container {
    padding: var(--48);
    justify-content: center;
    height: 100vh;
    gap: var(--16);
  }

  .container h1 {
    margin-bottom: 0;
    font-size: var(--64);
  }
}
